!!!5
%html
  %head
    %title Horace. Dos.
    %link(rel='stylesheet' type='text/css' href='/lib/lib.css')
    %link(rel='stylesheet' type='text/css' href='/css/horace.css')
    %script(src='./config')
    %script(src='socket.io/socket.io.js')
    %script(src='lib/lib.js')
    %script(src='js/horace.js')

  %body
    .pure-menu.pure-menu-horizontal#topNav
      %a.pure-menu-heading.pure-menu-link(href='#') Horace
      %ul.pure-menu-list
        %li.pure-menu-item
          %a.pure-menu-link(href='#') Books
        %li.pure-menu-item.pure-menu-disabled Authors
        %li.pure-menu-item.pure-menu-disabled Subjects
        %li.pure-menu-item.pure-menu-disabled Tags

    XYZ