!!!5
%html
  %head
    %title Horace. Dos.
    -#%link(rel='stylesheet' type='text/css' href='/lib/lib.css')
    %link(rel='stylesheet' type='text/css' href='/css/horace.css')
    %script(src='./config')
    %script(src='socket.io/socket.io.js')
    %script(src='lib/lib.js')
    %script(src='js/horace.js')

  %body
