/* ******************* Native ******************* */

html {
  height: 100%;
}


body {
  height: 100%;
  padding: 0;
  margin: 0;
}


/* ******************* Base Layout ******************* */

#hAppContainer {
  height: 100vh;
  width: 100vw;
}


#hAppRoot {
  @mixin flexBox;
  height: 100vh;
  width: 100vw;
}


.h-app-bar {
  @mixin flexItem 0, 0;
}
