$background-light: #FFF;
$background-dark: #D3D3D3;
$background-darker: #B2B2B2;
$background-darkest: #000;

$link-color: #1B98E0;
$border-color: #A0A0A0;
$border-color-light: #F0F0F0;

$text-base: #000;
$text-light: lighten($text-base, 30%);
$text-lighter: lighten($text-base, 60%);
$text-lightest: #FFF;