@charset 'UTF-8';

@import 'lib/sass_import_once';
@import 'variables';




@include exports("h-announcer") {

  .h-announcer-inner{
    height     : 0px;
    opacity    : 0;
    transition : all 0.5s;
    overflow   : hidden;

    &.active{
      height  : auto;
      padding : $space-S;
      opacity : 1;
    }

    .h-announce-deactivate {
      padding       : 0;
      height        : 1.5em;
      width         : 1.5em;
      border-radius : 3em;
      background    : #FF0000;
      //TODO: DO the various states
    }
  }

}
