$primary-button-background-color: orange;

@define-mixin button {
  border-radius: 2px;
  border: 1px solid $border-color;
  background: $background-light;
  color: $text-base;
  box-shadow: $box-shadow-base;
  height: 35px;
  font-size: 0.9em;
  transition: all 0.15s;
  text-align: left;
  padding: 0 $space-M;

  &.h-widget-button-small {
    min-width: 50px;
  }

  &.h-widget-button-medium {
    min-width: 100px;
  }

  &.h-widget-button-large {
    min-width: 150px;
  }

  .fa {
    margin-right: $space-S;
  }

  &:hover {
    box-shadow: $box-shadow-raised;
  }

  &:active {
    border-color: darken($border-color, 30%);
    box-shadow: $box-shadow-raised-halfway;
  };


  &[disabled] {
    border-color: $border-color-light;
    background: darken($background-light, 5%);
    color: opacity($text-light, 25%);
    box-shadow: none;
  }


  &.h-button-primary {
    background: orange;

    &[disabled] {
      background: lighten($primary-button-background-color, 75%);
    }
  }


  &.h-button-indicator {
    background: transparent;
    border: none;
    box-shadow: none;
    min-width: auto;
    padding: 0;
    width: 16px;
  }


  &.fa:before {
    margin-left: 2px;
  }
}


button.h-widget-button {
  @mixin button;
}


input[type="submit"].h-widget-button {
  @mixin button;
}


input[type="reset"].h-widget-button {
  @mixin button;
}


input[type="button"].h-widget-button {
  @mixin button;
}
