$_title-height: 30px;

.h-modal-dialog {
  @mixin position absolute, 0, 0, 0, 0;

  .h-modal-content {
    @mixin flexBox column;
    padding: 0;


    div {
      &:first-child {
        border-radius: $border-radius-S $border-radius-S 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 $border-radius-S $border-radius-S;
      }
    }
  }
}


.h-modal-dialog-hidden {
  display: none;
}


.h-modal-dialog-title {
  @mixin flexItem 0, 0;
  @mixin flexBox row, ,space-between, , space-between;
  height: $_title-height;
  border-bottom: 1px solid $border-color;
  background: $background-dark;
  padding: $space-S $space-S 0 $space-S;
}


.h-modal-dialog-title-contents {
  @mixin flexItem 0, 0;
}


.h-modal-dialog-title-close-button {
  @mixin flexItem 0, 0;
}


.h-modal-dialog-body {
  @mixin flexItem 1, 1;
  padding: $space-M;
}


.h-modal-dialog-footer {
  @mixin flexItem 0, 0;
  height: $_title-height;
  border-top: 1px solid $border-color;
  background: $background-dark;
}


.h-modal-dialog-buttons {
  @mixin flexItem 0, 1;
  border-top: 1px solid $border-color;
  background: $background-dark;
  padding: $space-M;
  text-align: right;

  &:empty {
    display: none;
  };
}
