@define-mixin single-line-text-input {
  height: 34px;
  box-shadow: $box-shadow-inset-base;
  border-radius: $border-radius-S;
  box-sizing: border-box;
  padding: 0 $space-M;

  &.h-text-input-low-profile {
    box-shadow: none;
    background: transparent;
    border-color: transparent transparent $border-color transparent;
  }
}


input[type="text"], input[type="number"] {
  @mixin single-line-text-input;
}
