@charset 'UTF-8';

/* ******************* Native ******************* */
html {
  height: 100%;
}

body{
  height: 100%;
  padding: 0;
  margin: 0;
}

button[disabled] {
  opacity: 0.6;
}

th {
  font-weight: normal;
}

/* ******************* /Native ******************* */




.h-library {
  @include flex-box($justify-content: flex-start);
  font-size: 0.9em;
  height: 100%;
}
