@charset 'UTF-8';

/* ******************* Native ******************* */
html {
  height: 100%;
}

body{
  height: 100%;
  padding: 0;
  margin: 0;
}

select {
  border-radius: 2px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  border-radius: 2px;
  &[disabled] {
    opacity: 0.6;
  }
}

th {
  font-weight: normal;
}

a {
  color: $link-color;
}

/* ******************* /Native ******************* */

#libraryRoot {
  @include position('absolute', 0, 0, 0, 0);
}


.h-library {
  @include flex-box($justify-content: flex-start);
  font-size: 0.9em;
  height: 100%;
}
