@charset 'UTF-8';

$background-darkest: #13293D;
$background-darker: #006494;
$background-dark: #247BA0;
$background-light: #E8F1F2;

$link-color: 1B98E0;
$border-color: $background-light;

$text-base: #666;
$text-light: $background-light;
$text-lighter: #FFF;