.h-book-list-root {
  @mixin flexItem 1, 1;
  font-family: roboto;
  position: relative;


  .h-book-list-grid-container {
    @mixin position absolute, 0, 0, 0, 0;
  }


  .header {
    background: gray;
    color: #FFF;
  }


  .even {
    background: #F0F0F0;
  }

  td {
    padding: 0 10px;
  }

  .h-book-list-book-authors {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
  }


  .h-book-list-book-title {
    position: relative;
    width: 100%;
  }


  .h-book-list-book-title-wrapper {
    @mixin text-overflow;
    @mixin position absolute, 0, 0, 0, 0;
    line-height: 40px;
    padding: 0 10px;
  }


  .h-book-list-select {
    width: 30px;
    max-width: 30px;
  }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  .h-book-list-select {
    display: none;
  }


  .h-book-list-book-authors {
    display: none;
  }
}

