.h-column-filter {
  .h-column-filter-root {
    @mixin flexBox column;
    /*TODO: Reponsive?*/
    height: 400px;
    width: 600px;

    input[type="checkbox"] {
      margin-right: $space-M;
    }


    label {
      cursor: pointer;
    }


    .h-column-filter-filter {
      @mixin flexItem 0, 1;
      @mixin flexBox row;
      padding: $space-L;

      input[type=text] {
        @mixin flexItem 1;
        padding: $space-M;
      }
    }


    .h-column-filter-options {
      @mixin flexItem 1, 1;
      padding: $space-M;
      margin: 0 $space-L $space-L $space-L;
      border: 1px solid $border-color;
      border-radius: 2px;
      overflow: auto;
    }
  }
}


