$border-radius: 2px;

.h-popup {
  @mixin position absolute, 0, 0, 0, 0;
  background: rgba(0, 0, 0, 0.2);
}


.h-popup-contents {
  @mixin flexBox column;
  @mixin position absolute, 50%, auto, auto, 50%;
  border-radius: $border-radius;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background: $text-lightest;
}


.h-popup-title {
  @mixin flexItem 0, 0;
  @mixin flexBox row;
  border-radius: $border-radius $border-radius 0 0;
  background: $background-darkest;
  color: $text-lightest;
  padding: $space-S $space-M;
  font-size: 1.2em;

  button {
    background: $background-light;
    color: #555;
    border: 1px solid #bbb;

    &:hover {
      color: #222;
      border-color: #888;
    };
  }
}


.h-popup-title-contents {
  @mixin flexItem 1, 0;
}


.h-popup-title-controls {
  @mixin flexItem;
}


.h-popup-close {
  @mixin flexItem;
}


.h-popup-body {
  @mixin flexItem 1, 1;
}
