@define-mixin _server-scan-item {
  @mixin flexItem;

  .fa {
    opacity: 0.3;
    transition: opacity 1s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &.fa-spin {
      opacity: 1;
      cursor: default;
    }
  }
}

.h-tool-bar-server-status-container {
  @mixin flexBox row, '', '', center;
}


.h-server-scanning-status {
  @mixin _server-scan-item;
}
