$_toolbar-padding: $space-S;

.h-toolbar-section-left {
  @mixin flexItem;
  @mixin flexBox row, '', flex-start, center;
  padding: $_toolbar-padding;
}


.h-toolbar-section-center {
  @mixin flexItem 1, 0;
  @mixin flexBox row, '', flex-center, center;
  padding: $_toolbar-padding 0;
}


.h-toolbar-section-right {
  @mixin flexItem;
  @mixin flexBox row, '', flex-end, center;
  padding: $_toolbar-padding;
}


.h-toolbar-item {
  @mixin flexItem;
}


.h-toolbar-item + .h-toolbar-item{
  margin-left: $space-M;
}


.h-tool-bar {
  @mixin flexItem;
  @mixin flexBox row;
  font-size: 22px;
  padding: 0 $space-L;
  background: $text-base;

  .h-logo {
    color: $background-light;
    text-transform: uppercase;
  }

  .fa {
    color: $background-light;
  }
}


.h-action-bar {
  @mixin flexBox row, '', space-between;
  @mixin flexItem;
  padding: $space-M $space-L;

  > div {
    @mixin flexItem 0, 0;
  }
}


.h-book-actions {
  button + button {
    margin-left: $space-L;
  }
}

