@charset 'UTF-8';

.h-book-list {
  @include flex-item($grow: 1, $shrink: 1);
  @include flex-box($justify-content: flex-start);
  position: relative;
  overflow: auto;

  .h-pager {
    @include flex-item();
  }

  .h-table-wrapper {
    @include flex-item(1, 1);
    overflow: auto;
  }

  thead {
    background: $background-dark;
  }

  td, th {
    @include text-overflow;
    height: 2em;
    border: solid $border-color-light;
    border-width: 0 1px 1px 0;
    text-transform: capitalize;

    &:last-child {
      border-width: 0 0 1px 0;
    }
  }

  th {
    @include user-select(none);
    color: $text-light;
    font-size: 1.2em;
    color: $text-light;
    padding: 0;
    border-color: $border-color;
  }

  tr:hover {
    td {
      background-color: $background-light;
    }

    .h-book-actions {
      visibility: visible;
    }
  }

  .h-column-header-wrapper {
    @include flex-box(row);

    .h-column-name {
      @include flex-item($grow: 1, $shrink: 0);
      padding: 0 0 0 $space-M;

      &.sortable {
        cursor: pointer;
      }
    }

    .h-column-sort {
      display: inline-block;
      width: toRem(20px);
      text-align: center;
    }

    .h-column-filter {
      @include flex-box(0, 0);
      width: toRem(20px);
      text-align: center;
    }
  }

  .h-adapterId {
    @include text-overflow;
    width: toRem(110px);
    max-width: toRem(110px);
  }

  .h-authors {
    width: toRem(150px);
    max-width: toRem(150px);
    word-wrap: break-word;
  }

  .h-subjects {
    width: toRem(150px);
    max-width: toRem(150px);
    word-wrap: break-word;
  }

  .h-year {
    width: toRem(80px);
    max-width: toRem(80px);
  }

  .h-blocking-ui-wait {
    @include position(absolute, $top: 15px, $left: -100px);
    padding: $space-M;
    font-size: toRem(15px);
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 2s, left 1s;

    &.visible {
      left: 15px;
      opacity: 1;
    }

    .label {
      margin: 0 0 0 $space-M;
    }
  }

  .h-book-actions {
    visibility: hidden;
    float: right;
    > span {
      cursor: pointer;
    }
  }

  .h-column-filter-trigger {
    background: none;
    border: none;
    color: #FFF;
  }
}

.h-list-table {
  width: 100%;
}
