@charset 'UTF-8';

$_item-background: $background-light;

.h-menu {
  position: absolute;
  border: 1px solid $border-color;
  border-radius: 2px;
  min-width: 200px;
  max-width: 500px;
  box-shadow: $box-shadow;
  overflow: auto;
}


.h-menu-item {
  border-bottom: 1px solid $border-color;
  background: $_item-background;
  padding: 0 $space-M;

  &:last-child {
    border-bottom: 1px solid transparent;
  }
}
