@charset 'UTF-8';

$_item-background: #FFF;

.h-popup {
  position: absolute;
  border: 1px solid $border-color;
  border-radius: 2px;
  width: 500px;
  z-index: 1;
  box-shadow: $box-shadow;
}


.h-popup-item {
  border-bottom: 1px solid $border-color;
  background: $_item-background;

  &:last-child {
    border-bottom: none;
  }
}